.#*
client/target
server/target
client/checkouts
server/checkouts
/lib
/classes
/checkouts
**/pom.xml
**/pom.xml.asc
*.jar
*.class
**/.lein-*
**/.nrepl-port
.idea
**/*.iml
server/resources/public/js/compiled
server/figwheel_server.log

