.template {
    display: none;
}
.hidden{
    display: none;
}
div.header {
    box-shadow: 0 0 20px 0 #d3d3d3;
    border-bottom: 1px solid white;
    background: #4ecdc4;
    width:100%;
    height:29px;
    padding: 4px 0 0 0;
    margin: 0;
}
div.title {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    font-variant: small-caps;
    color: white;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-width: 980px;
    width: 75%;
}

div.content {
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-width: 980px;
    width: 75%;
    overflow-x:hidden;
}
div.code {
    background:#f4f4f9;
    border: 1px dotted #7a7a7f;
    padding: 10px;
    font-family: monospace;
}
.page {
    width: 100%;
    align-items: center;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0 0 100px 0;
    padding: 0 0 0 0;
}

h1 {
    font-family: Georgia, serif;
    font-weight: normal ;
    color: #7a7a7f;
    padding-bottom: 1px;
    border-bottom: 1px solid #7a7a7f;
    margin: 1em 0 0 0
}

h2 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    color: #7a7a7f;
    margin: 2.33em 0 0.66em 0;
    padding: 0 0 1px 0;
    border-bottom: 1px solid #7a7a7f;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    color: #7a7a7f;
}

h4 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
    margin: 0 0 0.2em 0;
}

a {
    text-decoration: none;
    color: #acacb2;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: black;
}

h1 a {
    font-weight: normal;
}

p {
    margin: 0 0 0.2em 0
}

.number {
    text-align: right;
}

.light {
    color: #7a7a7f;
    font-weight: lighter;
}

.small {
    font-size: 0.75em;
}

.unit {
    color: #acacb2;
    font-weight: lighter;
    position: relative;
    top: -0.3em;
    font-size: 80%;
}

th {
    font-family: Helvetica, sans-serif;
    text-align: left;
    padding: 0.6em 1.33em 0.66em 1.33em;
    color: #5a5a5f;
}

td {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: medium;
    color: black;
    vertical-align: top;
    padding: 0.6em 1.33em 0.66em 1.33em;
}

tbody tr:hover {
    background: #f4f4f9;
    cursor: pointer;
}

td.status {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

tr.running td.status {
    background: #c7f464;
}

tr.running td:first-child {
    border-left: 10px solid #c7f464;
}

tr.success td.status {
    background: #4ecdc4;
    color: #f8f8fb;
}
tr.success td:first-child {
    border-left: 10px solid #4ecdc4;
}

tr.error td.status {
    background: #c44d58;
    color: #f8f8fb;
}
tr.error td:first-child {
    border-left: 10px solid #c44d58;
}

tr.cancelled td.status {
    background: #ff6b6b;
}
tr.cancelled td:first-child {
    border-left: 10px solid #ff6b6b;
}

tr.waiting td.status {
    background: #7a7a7f;
    color: #f8f8fb;
}
tr.waiting td:first-child {
    border-left: 10px solid #7a7a7f;
}

tr.more-work td.status {
    background: #7a7a7f;
    color: #f8f8fb;
}
tr.more-work td:first-child {
    border-left: 10px solid #7a7a7f;
}

tr.try-later td.status {
    background: #7a7a7f;
    color: #f8f8fb;
}
tr.try-later td:first-child {
    border-left: 10px solid #7a7a7f;
}

svg {
    display: inline;
}
div {
    vertical-align: top;
}
textarea {
    width:100%;
    height:100%;
}

div.two-panel div {
    width: 100%;
}

.fiddy > div {
    width: 49.5%;
    margin: 0 0 1.66em 0;
    display: inline-block;
}

.fiddy > div:first-child {
    margin-right: 1%;
}

.high-300 {
    overflow: auto;
}

.high-300::-webkit-scrollbar {
    width: 11px;
}


.high-300::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
